/* -- LOGIN --- */
.login-page-wrapper {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfbf9;
    padding: 40px 20px ;
}

/* Thẻ Card */
.login-card {
    background: white;
    width: 480px;
    max-width: 100%;
    padding: 10px 40px 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(165, 127, 88, 0.15);
    border-top: 4px solid #c29161;
}

.login-title {
    font-size: 28px;
    font-weight: 700;
    color: #7d4e42;
    text-align: center;
    margin-bottom: 30px;
}

/* Form Group & Input */
.login-form-group {
    margin-bottom: 20px;
}

.login-form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}

.login-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s;
}

.login-input:focus {
    border-color: #a67c52;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(166, 124, 82, 0.15);
}


.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
    color: #666;

}


.password-input-wrapper {
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
}

.password-input-wrapper input {
    width: 100%;
    padding-right: 45px !important; 

    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
}

.password-input-wrapper input:focus {
    border-color: #a67c52;
    box-shadow: 0 0 0 3px rgba(166, 124, 82, 0.15);
}


/* Button */
.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #a67c52;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover {
    background-color: #8e6235;
}

/* Divider & Redirect */
.login-divider {
    text-align: center;
    margin: 25px 0;
    position: relative;
}
.login-divider span {
    background: white;
    padding: 0 10px;
    color: #999;
    font-size: 13px;
    position: relative;
    z-index: 1;
}
.login-divider::after {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    height: 1px;
    background: #eee;
    z-index: 0;
}

.login-redirect {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.login-redirect a {
    color: #a67c52;
    font-weight: 600;
    text-decoration: none;
}
.login-redirect a:hover {
    text-decoration: underline;
}

/* -- REGISTER --- */

.register-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfbf9;
    padding: 40px 20px;
}

.register-card {
    background: white;
    max-width: 100%;
    padding: 10px 40px 30px 40px;
    border-radius: 8px;
      box-shadow: 0 4px 20px rgba(165, 127, 88, 0.15);
    border-top: 4px solid #c29161;
}

.register-title {
    font-size: 28px;
    font-weight: 700;
    color: #7d4e42;
    text-align: center;
    margin-bottom: 30px;
}

.name-row {
    display: flex;
    gap: 15px;
}
.name-row .register-form-group {
    flex: 1; 
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}

.register-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s;
}

.register-input:focus {
    border-color: #a67c52;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgba(166, 124, 82, 0.15);
}

.register-btn {
    width: 100%;
    padding: 14px;
    background-color: #a67c52;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.register-btn:hover {
    background-color: #8e6235;
}

.register-divider {
    text-align: center;
    margin: 25px 0;
    position: relative;
}
.register-divider span {
    background: white;
    padding: 0 10px;
    color: #999;
    font-size: 13px;
    position: relative;
    z-index: 1;
}
.register-divider::after {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    height: 1px;
    background: #eee;
    z-index: 0;
}

.register-redirect {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.register-redirect a {
    color: #a67c52;
    font-weight: 600;
    text-decoration: none;
}
.register-redirect a:hover {
    text-decoration: underline;
}

/* CHECK PASSWORD */
.toggle-password-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999; 
    z-index: 10;
    transition: color 0.3s;
}

.toggle-password-btn:hover {
    color: #b76d28; 
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}
.remember-me input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #a67c52;
    color: #ffff;
}

.forgot-password {
    color: #a67c52;
    cursor: pointer;
    transition: 0.2s;
}
.forgot-password:hover {
    color: #8a5e35;
    text-decoration: underline;
}

/* (VALIDATION) */

.input-error {
    border-color: #e74c3c !important; /* Màu đỏ */
    background-color: #fdf2f2 !important; /* Nền đỏ nhạt cho dễ nhìn */
}


.input-error:focus {
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.2) !important;
}

.error-message {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 6px;
    font-style: italic;
    display: block;
    text-align: left;
}
